{{> stepTitle}}
<form>
    <label for="paytype">Payment Type</label>
    <input id="paytype"></input>
    <label for="paynum">Card Number</label>
    <input id="paynum"></input>
    <label for="expirydate">ExpiryDate</label>
    <input id="desc"></input>
    <label for="seccode">Security Code</label>
    <input id="seccode"></input>
</form>
