{{> stepTitle}}
<form>
    <label for="product">Product</label>
    <input id="product"></input>
    <label for="desc">Description</label>
    <input id="desc"></input>
    <label for="price">Price</label>
    <input id="birthdate"></input>
</form>
