
    <div class="button-bar">
    <ul class="macys-group round">
        <li id="wizardCanclButton" data-action="cancl" class="small macys-button secondary lm100">Cancel</li>
    </ul>    
        <ul class="macys-group round">
        <li id="wizardPrevButton" data-action="prev" class="small macys-button secondary">Previous</li>
        <li id="wizardNextButton" data-action="next" class="small macys-button secondary">Next</li>        
        </ul>
    </div>
