<div id="wizard-container" class="wizard-container">
    <div id="left-region" class="wizard-left wizard-nav">left</div>
    <div id="header-region" class="wizard-header">Header</div>

    <div id="main-region" class="wizard-main">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <div id="footer-region" class="wizard-footer">footer</div>
    <div id="right-region" class="wizard-right  wizard-nav">right</div>
</div>